# Backend and Data Processing Operations
numpy
pandas
scikit-learn
matplotlib
seaborn
opencv-python
joblib
Pillow

# Deep Learning
torch
torchvision

# Backend
fastapi
uvicorn
python-multipart

# Extra tools
jupyterlab
imbalanced-learn
xgboost